header {
    text-align: center;
}

body {
    margin: 0em;
    
}

h1 {
    color: rgb(175, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
}

hr {
    background-color: rgb(175, 0, 0);
    border: 1em solid rgb(175, 0, 0);
}

.preludio {
    text-align: center;
    font-size: 150%
}

figcaption {
    font-size: 70%;
}

.breno-sadboy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.sebastian {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

h2 {
    color: rgb(197, 0, 0);
}

.titulo {
    margin-top: 7%;
}

.conteudo {
    margin-left: 2.5%;
    margin-right: 4%;
    text-align: justify;
    font-size: 110%;
}

.midia-centro{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

footer {
    margin-top: 18%;
    background-color: rgb(175, 0, 0);
    border: 1em solid rgb(175, 0, 0);
    text-align: center;

}

.informacao-footer {
    color:aliceblue;
    margin-left: 3%;
    margin-right: 3%;
    display: inline;
    
}

.contato-titulo {
    margin: auto;
    background-color: rgb(175, 0, 0);
    border: 1em solid rgb(175, 0, 0);
    text-align: center;
    color: aliceblue
}

.autenticacao-centro {
    margin-left: auto;
    margin-right: auto;
}
